@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #FD2E48; */
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #000;
    display: flex;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}


.logo {
    width: 360px;
    /* Adjust the width as needed */
    margin-top: 60px;
    /* Margin from the top */
    margin-bottom: 40px;
    transition: 0.5s ease;
}

.wrapper {
    /* margin: 32px 0; */
    /* width: calc(100% - 64px); */
    /* max-height: calc(100vh - 64px); */
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    align-items: center;
}

section {
    scroll-snap-align: center;
}


.info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 800px;
}

.info p {
    text-align: center;
}

.games {
    display: flex;
    align-items: center;
    justify-content: center;
}


.platformer {
    display: flex;
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
}

.plat-txt {
    color: #0f0f0f;
    font-family: 'Inter', Courier, monospace;
    font-weight: 500;
    /* transform: rotate(-25deg); */
    padding: 30px 30px 0 30px;
    margin: 0;
}

.arrow {
    width: 80px;
    height: 80px;
    margin-left: 80px;
}

.arrow-right {
    width: 80px;
    height: 80px;
    margin-right: 80px;
}

h1 {
    font-weight: 800;
    font-size: 35px;
    color: #171717;
    margin: 0;
}


.red-txt {
    color: #FD2E48;
}

canvas {
    margin-top: 20px;
    border-radius: 15px;
    border: 5px solid #fd2e48;
    box-shadow: 0 0 20px #fd2e48ac;

}

.mouse {
    width: 30px;
    height: 60px;
    border: 3px solid #333;
    border-radius: 60px;
    position: relative;

    &::before {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}

.retpoc-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.blog-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.top {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 50px;
    font-weight: 800;
}

.txt {
    box-shadow: inset 0 0 0 0 #fd3852c9;
    color: #ffffff;
    padding: .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.txt:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #FD3851;
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.footer a {
    color: #FD2E48;
}

.footer a:hover {
    color: #d22037;
}

a,
a:hover {
    text-decoration: none;
    transition: 0.2s ease;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
    margin: 0;
    padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    width: 40px;
    height: 28px;
    color: #000;
    background-color: #FFF;
    border: 1px solid #000;
    padding-top: 12px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -o-border-radius: 22px;
}

.socialbtns .fa:hover {
    color: #FFF;
    background-color: #FD2E48;
    border: 1px solid #FD2E48;
}

.games {
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 1300px) {
    canvas {
        width: 800px;
    }
}

@media only screen and (max-width: 1100px) {
    canvas {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 1000px) {
    canvas {
        transform: scale(0.7);
    }
}

@media only screen and (max-width:800px) {
    .blog-grp {
        display: none;
    }

    .footer {
        margin-top: 15px;
    }
}