@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #211F30;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #ffffff;
}

.logo {
    width: 240px; /* Adjust the width as needed */
    margin-top: 50px; /* Margin from the top */
    margin-bottom: 30px;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.09);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    margin-top: 30px;
    width: 1000px;
    display: flex;
    gap: 20px;
    align-items:self-start;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
}

.retpoc-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.blog-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.info {
    font-weight: 500;
    opacity: 30%;
}

.Copter {
    color: #fff;
}
.Copter:hover {
    color: #FD3851;
    cursor:pointer;
}


  .txt {
    box-shadow: inset 0 0 0 0 #fd3852c9;
    color: #ffffff;
      padding: .25rem;
      margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  .txt:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #FD3851;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  footer {
    font-weight: 300;
    font-size: 15px;
    display: flex;
    width: 1024px;
    opacity: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-menu {
    margin-bottom: 60px;
}

.social-menu ul{
    position: absolute;
    padding: 0;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(3) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(1) a:hover{
    background-color: #1da1f2;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #FF0000;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #EA4C89;
}


.card-container {
    margin: 1rem;
    display: grid;
    gap: 1.5rem;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
  }
  
  .card {
    background: white;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .25);
    border-radius: .50rem;
    overflow: hidden;
    color: #212121;
  }
  
  .card-header .header-title {
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  
  .card-body {
    color: #7b7b7b;
    font-size: .9rem;
    padding: 0;
    margin-bottom: 1rem;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
  }
  
  .card-footer {
    padding-top: 0;
  }
  
    button {
        align-items: center;
        background-color: #1928d2;
        border-radius: 10px;
        border-style: none;
        color: #f6f7fe;
        cursor: pointer;
        font-family: "Inter",sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 10px 30px;
        margin-bottom: 20px;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        transition: 0.5s;
        width: 100px;
        
    }

    button:hover {
        background-color: #061080; 
        box-shadow: 1px 1px 30px #002fff7e;
    }
  
  .card-header.header-img {
    padding: 0;
    overflow: hidden;
  }
  
  .card-header.header-img > img {
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    transition: filter 200ms ease-in-out;
  } 
  
  .card:hover > .card-header.header-img > img {
      filter: brightness(0.9);
  }

  .divider {
    margin: 30px 30; /* Space out the Bootstrap <hr> more */
    width: 70%;
    text-align: center;
  }